<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Song</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form th:action="@{/songs/add}" method="post">
                <div th:if="${song != null}">
                <input id="id" type="hidden" name="id" th:value="${song.getId()}" />
                </div>
                <div class="form-group">
                    <label for="title">Song title</label>
                    <input type="text"
                           class="form-control"
                           id="title"
                           name="title"
                           th:value="(${song} != null ? ${song.getTitle()} : '')"
                           required
                           placeholder="Enter song title">
                </div>
                <div class="form-group">
                    <label for="trackId">Track ID</label>
                    <input type="text"
                           class="form-control"
                           id="trackId"
                           name="trackId"
                           th:value="(${song} != null ? ${song.getTrackId()} : '')"
                           placeholder="Enter track ID">
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text"
                           class="form-control"
                           id="genre"
                           name="genre"
                           th:value="(${song} != null ? ${song.getGenre()} : '')"
                           placeholder="Enter song genre">
                </div>
                <div class="form-group">
                    <label for="releaseYear">Release Year</label>
                    <input type="text"
                           class="form-control"
                           id="releaseYear"
                           name="releaseYear"
                           th:value="(${song} != null ? ${song.getReleaseYear()} : '')"
                           placeholder="Enter release year">
                </div>
                <div class="form-group">
                <label>Album</label>
                <select name="albumId" class="form-control">
                    <option th:each="album : ${albums}"
                            th:value="${album.getId()}"
                            th:text="${album.getName()}"
                            th:selected="${song != null && song.getAlbum() != null && song.getAlbum().getId() == album.getId()}">
                    </option>
                </select>
                </div>

                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/songs">Back</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>